/* variables */
:root {
	--font-family-headings: Verdana, Geneva, Tahoma, sans-serif;
	--font-family-content: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	--font-size-lg1: 2rem;
	--font-size-lg2: 1.5rem;
	--font-size-md: 1.2rem;
	--font-size-sm: 1rem;
	--dark-bg-color: #1e3e76;
	--light-font-color: #fff;
	--light-border-shadow-color: #fafba5;
	--nav-bg-color: #fff;
	--nav-border-color: #ccc;
	--nav-right-font-color: #b7b7b7;
	--color1: #1e3e76;
	--color2: #fff;
	--color3: #b7b7b7;
	--color4: #ccc;
	--color5: #fafba5;
	--color6: #666;
}

html, body {
  height: 100%;
}

body {
	display: flex;
  flex-direction: column;
	background-image: url("../images/concrete_seamless.png");
}

.center {
	display: flex;
  justify-content: center;
	align-items: center;
}

h1 {
	font-size: var(--font-size-lg1);
}

p {
	font-size: var(--font-size-md);
	line-height: 1.5;
}

/* Navbar CSS */
nav {
	background-color: var(--color2);
	font-family: var(--font-family-headings);
	border-bottom: 2px solid var(--color4);
	box-shadow: 1px 1px 2px 2px var(--color5);
}

.nav-left {
	box-sizing: border-box;
	padding: 0 20px;
	background-color: var(--color1);
	font-size: var(--font-size-lg1);
	color: var(--color2);
}

.nav-right {
	box-sizing: border-box;
	padding: 0 20px;
	font-size: var(--font-size-lg2);
	color: var(--color3);
}

.nav-right span {
	margin: 0 10px;
}

.nav-right a {
	color: var(--color3);
	text-decoration: none;
}

.nav-right a:hover {
	color: var(--color1);
}

/* Main Content CSS */
main {
	box-sizing: border-box;
	padding: 20px;
	background-color: transparent;
}
main header {
	margin-bottom: 20px;
	font-family: var(--font-family-headings);
	color: var(--color1);
}
main hr {
	margin-bottom: 20px;
	border-color: var(--color1);
}
main section {
	min-height: 200px;
	font-family: var(--font-family-content);
}
main section p {
	margin-bottom: 15px;
}
.main-content-container {
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid var(--color1);
	background-color: white;	
}
#profile-picture {
	float: left;
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 0% 15%;
	border-radius: 5px;
	margin: 0 20px 15px 0;
}

/* Sticky Footer CSS */
.wrapper {
  flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
	background-color: var(--color6);
	color: var(--color2);
	border-top: 2px solid var(--color4);
	box-shadow: 1px -1px 2px 2px var(--color5);
}
.footer-content-container {
	width: 100%;
	height: 40px;
	text-align: center;
}
.footer {
	line-height: 40px;
	width: 100%;
}
.footer-content-container div {
	position: absolute;
	height: var(--footer-height);
	font-size: var(--font-size-sm);
	font-family: var(--font-family-content);
}

/* Contact Page CSS */
label, input {
	display: block;
}

label {
	margin-bottom: 5px;
	font-size: var(--font-size-md);
}

input, textarea {
	width: 100%;
	margin-bottom: 15px;
	font-size: var(--font-size-md);
	padding: 8px 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

input:focus, textarea:focus {
	background-color: var(--light-border-shadow-color);
}

button {
	width: 100px;
	font-size: var(--font-size-md);
	padding: 8px 5px;
	border-radius: 5px;
	color: var(--light-font-color);
	background-color: var(--dark-bg-color);
}

/* Portfolio Page CSS */
.portfolio-section {
	font-size: var(--font-size-md);
	overflow: auto;
}

.portfolio-item-container {
	display: block;
	float: left;
	width: 33.33%;
	height: 200px;
	padding: 0 20px 20px 0;
	box-sizing: border-box;
}

.portfolio-item {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	border-radius: 5px;
}

.portfolio-item img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 5px;
}

.portfolio-item p {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: var(--dark-bg-color);
	color: var(--light-font-color);
	box-sizing: border-box;
	box-shadow: 
		inset 0px 11px 8px -11px var(--light-border-shadow-color),
		inset 0px -11px 8px -11px var(--light-border-shadow-color);
}

/* Media Queries */
@media only screen and (max-width: 640px) {
	.nav-content-container {
		text-align: center;
	}
	.nav-left {
		height: calc(var(--font-size-lg1) + 1rem);
		line-height: calc(var(--font-size-lg1) + 1rem);
		width: 100%;
	}
	.nav-right {
		font-size: var(--font-size-md);
		height: calc(var(--font-size-lg1) + 0.5rem);
		line-height: calc(var(--font-size-lg1) + 0.5rem);
		width: 100%;
	}
	.footer-content-container {
		height: calc(var(--font-size-sm) + 0.6rem);
	}
	.footer {
		line-height: calc(var(--font-size-sm) + 0.6rem);
		width: 100%;
	}
	main {
		padding: 8px;
	}
	.main-content-container {
		padding: 20px 10px;
	}
	#profile-picture {
		float: none;
		width: 100%;
		max-height: 400px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
	.nav-content-container {
		height: 70px;
		text-align: left;
		width: 100%;
		max-width: 740px;
		margin: 0 auto;
	}
	.nav-left {
		line-height: 70px;
		float: left;
	}
	.nav-right {
		line-height: 70px;
		float: right;
	}
	.main-content-container {
		width: 100%;
		max-width: 740px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 768px) {
	.nav-content-container {
		height: 70px;
		text-align: left;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	.nav-left {
		line-height: 70px;
		float: left;
	}
	.nav-right {
		line-height: 70px;
		float: right;
	}
	.main-content-container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
}